


<!--SCRIPTS-->
<script src="/js/dependencies/angular.js"></script>
<script src="/js/dependencies/jquery.js"></script>
<script src="/js/app.js"></script>
<script src="/js/controller/imageCtrl.js"></script>
<script src="/js/repository/imageRepository.js"></script>
<script src="/js/utility/angular-file-upload.min.js"></script>
<script src="/js/utility/angular-sanitize.js"></script>
<script src="/js/utility/angular-trix.js"></script>
<script src="/js/utility/bootstrap.js"></script>
<script src="/js/utility/directives.js"></script>
<script src="/js/utility/indicator.js"></script>
<script src="/js/utility/lightbox.js"></script>
<!--SCRIPTS END-->
</body>
</html>
