<!DOCTYPE html>
<html ng-app="app">
<head>
    <title>123</title>


    <!--STYLES-->
    <link rel="stylesheet" href="/styles/bootstrap-theme.css">
    <link rel="stylesheet" href="/styles/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/styles/bootstrap.css">
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/lightbox.css">
    <link rel="stylesheet" href="/styles/styles.css">
    <!--STYLES END-->
</head>

<body>