<%include ../partials/header %>

<div class="row" ng-controller="imageCtrl">

  <div class="container">

    <div class="row">
      <div class="col-xs-12" style="margin-top: 40px">
        <input type="file" nv-file-select="" uploader="uploader" /><br/>
      </div>
      <div class="col-md-12" >
        <table class="table">
          <thead>
          <tr>
            <th width="50%">Name</th>
            <th ng-show="uploader.isHTML5">Size</th>
            <th>Type image</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in uploader.queue">
              <td nowrap>
                <strong>{{ item.file.name }}</strong>
                  <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>
              </td>
              <td ng-show="uploader.isHTML5" nowrap>
                {{ item.file.size/1024/1024|number:2 }} MB
              </td>

              <td>
                <form name="radioForm">
                  <label>
                    <input type="radio" ng-model="imageType.value" ng-value="2">
                    2
                  </label><br/>
                  <label>
                    <input type="radio" ng-model="imageType.value" value="3">
                    3
                  </label><br/>
                  <label>
                    <input type="radio" ng-model="imageType.value" value="4">
                    4
                  </label><br/>
                  <label>
                </form>
              </td>
              <td nowrap>
                <button type="button" class="btn btn-success btn-xs" ng-click="uploadImage(item)" >
                   Upload
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>


    <div class="col-xs-12 title-list" >
        Images
    </div>
    <div class="col-xs-12 image-block" ng-repeat="image in images track by $index">

        <div class="col-xs-12 col-md-4">
          <a href="/images/smile_phot/{{image.name}}" data-lightbox="image-{{image.name}}">
            <img src="/images/smile_phot/{{image.name}}" width="100px">
          </a>
        </div>

        <div class="col-xs-12 col-md-4">
          <a href="/images/smile_phot/{{image.generatedImageName}}" data-lightbox="image-{{image.generatedImageName}}">
            <img src="/images/smile_phot/{{image.generatedImageName}}" width="100px">
          </a>
        </div>

        <div class="col-xs-12 col-md-4">
          <div class="col-xs-3" ng-repeat="item in image.cropImagesArray" >
            <a href="/images/smile_phot/{{item}}" data-lightbox="image-{{item}}">
              <img src="/images/smile_phot/{{item}}" class="img-responsive">
            </a>
          </div>
        </div>
    </div>

  </div>
</div>


<%include ../partials/footer %>

